@import url('fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Consolas';
    /* font-family: PixeloidSans; */
}

body {
    overflow: hidden;
}

/* ====== */

#body{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    max-width: 100vw;
    overflow: hidden;

}

#titleBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #21222C;
    border-bottom: 2px solid #a0a0a0;
    overflow: hidden;
}

#options{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#options_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#options p:hover{
    cursor: pointer;
    font-weight: bold;
}

#titleBar p{
    color: #fff;
    font-size: 0.7rem;
}

#search_field{
    background-color:#2E2F3E;

    border: 1px solid #535353;
    border-radius: 5px;
    padding:7px;
    width: 30vw;
    font-size: 0.6rem;
    color: #ffffff;
}

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 5vw;
    padding: 10px;
    background-color: #343746;
    height: 100vh;
}

.icon{

    width: 3vw;
}

#content{
    padding: 10px;
    background-color: #2E2F3E;
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 0.6rem;
    font-family: 'Consolas';
}

#content span.tag{
    color:rgb(53, 129, 235);
    /* font-family: Mozart; */
    /* font-size: 1cqb; */
}

#tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height:5vh;
    background-color:  #17171d;
    border-right : 1px solid #000000;
    overflow: hidden;
}

#tab:hover{
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
}

#tab.selected{
    background-color: #242531;
}

#tab p{
    color: #ffffff;
    font-size: 0.7rem;
}

#tab_manager{
    display: flex;
    gap: 5px;
}

#details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #242531;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17171d;
    color: #ffffff;
    font-size: 0.7rem;
    height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0;

}

/* images */

#vscode_logo{
    width: 2vw;
}

#moderncross{
    width: 25px;
    padding: 5px;
}

#moderncross:hover{
    cursor: pointer;
    background-color: red;
}

@media (max-width: 800px){
    #search_field{
        display: none;
    }
}

@media (max-width: 400px){
    #sidebar{
        display: none;
    }
    #search_field{
        display: none;
    }
    #moderncross{
        width: 7vw;
    }
    #vscode_logo{
        width: 4vw;
    }

    #options_display{
        display: none;
    }

    #content{
        width: 100vw;
        font-size: 0.5rem;
    }
    #tab{
        width: 50vw;
    }

    #content h1{
        font-size: 1rem;
    }

    body{
        width: 100vw;
        height: auto;
    }

}